@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

/* ==============
  General
===================*/
body {
    background-repeat: repeat;
    background: #f9f9f9 !important;
    font-family: "Almarai", sans-serif;
    color: #354558;
    font-size: 13px;
}

.text-center {
    text-align: center !important;
}

th,
td {
    text-align: center !important;
}

.padding-5mm {
    padding: 5mm !important;
}

.printable-table {
    width: 100%;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0px !important;
    border-color: grey;
}

.printable-table thead {


    background-color: rgb(234, 251, 255) !important;
}

.printable-table td,
.printable-table th {
    padding: 5px 10px;
    margin: 0px !important;
    border: 1px solid #00284d;
}

tr.small {
    font-size: 10px !important;
}